

<div class="container cards-container">
    {% for project in site.projects %}
    <div class="card">
        <div class="card-body border-dark" >
            <div class="card-title"> <h3>{{ project.name }}</h3> </div>
            <div class="card-text">
                {{ project.content }}
            </div>
            <br>

            <a href="{{ project.link }}" class="card-link"> Try it </a>
            <a href="{{ project.source }}" class="card-link"> Source </a>
        </div>
    </div>
    {% endfor%}
</div>