

<div class="cards-container row justify-content-center">
    {% for project in site.projects %}
    <div class="card border-dark">
        <div class="card-body border-dark " >
            <div class="card-title"> <h3>{{ project.name }}</h3> </div>
            <div class="card-text">
                {{ project.content }}
            </div>
            <br>
            <div class="card-links-wrapper">
                <a href="{{ project.link }}" class="card-link">Try it</a>
                <a href="{{ project.source }}" class="card-link">Source</a>
            </div>
        </div>
    </div>
    {% endfor%}
</div>