


$background-colour: #1E2127;
$lighter-colour:  lighten($background-colour, 5%);

$text-colour: #ABB2BF;
$header-colour: lighten($background-colour, 5%);
$navbar-text-colour: lighten($header-colour, 10%);
$text-link-colour: #ABB2BF;


body {
  background-color: $background-colour;
  color: $text-colour;
}

.jumbotron .h1 {
  font-size: small;
}

.card {
  background-color: $lighter-colour;
  margin: 10px;
  max-width: 30%;
  min-height: 100%;
  display: inline-flex;
  height: 100%
}

.jumbotron {
  margin-top: 3%;
  background-color: $header-colour;
}

.cards-container {
  margin-top: 2%;
  margin-bottom: 5%;
  background-color: pink;
}

.card-link {
  color: $text-link-colour;
  text-decoration: underline;
  font-weight: bold;
}

.card-text {
  text-wrap: normal;
}

.svg-icon {
  width: 22px;
  height: 16px;
  display: block;
  fill: grey;
  padding-right: 5px;
  vertical-align: text-top;
}

.social-list-entry {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.footer {
  width: 100%;
  background-color: $navbar-text-colour;
}

.social-list-container {

}
