
html
  min-height: 100vh
  min-width: 100vw

body
  margin: 0
  padding: 0
  color: #BBBBBB
  font-family: sans-serif

a:link, a:visited, a:hover
  color: #a5a5a5
  outline: none
  font-weight: bold

a:active
  color: #636363
  outline: none

.base 
  min-height: 100vh
  min-width: 100vw
  background-color: #2F343F

.splash-console
  padding-left: 30%
  padding-right: 25%
  @media screen and (max-width: 750px)
    padding-left: 5%
    padding-right: 5%
  padding-top: 3vh

.splash-console > h2
  padding-bottom: 3vh

.console-item
  padding-bottom: 4vh

.console-command
  padding-bottom: 2vh

.console-output
  padding-left: 1vh

span.console-name
  color: #007f2c
  font-weight: bold

.project
  margin-bottom: 2vh

.project-headline > p
  margin-top: 0
  margin-bottom: 0
  display: inline

.project > a
  display: inline


.social-wrapper
  display: inline
  margin-right: 1vw
  
.volunteering-item
  margin-bottom: 3vh

.volunteering-item > *
  margin-top: 0.1vh
  margin-bottom: 0.1vh

