
.header-wrapper
  margin: 0


.social-list-entry
  padding: 0
  min-height: 10em
  min-width: 10em


.social-list-container
  margin-left: auto
  margin-right: auto
  padding-top: 2em


svg
    display: block
    margin: auto
